<% content_for :js do %>
  <%= javascript_include_tag 'characters' %>
<% end %>

<p><%= link_to "Return to Show Page", show_path(@show) %></p>

<h3>Show All Characters for Show <%= @show.name %></h3>

<button class="char-index-page" data-id="<%= @show.id %>" id="show-char-index-button">Show Characters</button>

<ul class="show-characters">
  
</ul>
