<% content_for :js do %>
  <%= javascript_include_tag 'shows' %>
<% end %>

<h3>All Shows</h3>

<div id="all-shows">
  <p>Show All Shows (should not this)</p>
</div>

<%= link_to "Create New Show", new_show_path %>